* {
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  font-family: AtkinsonHyperlegible;
}

button{
  border:none;
  cursor: pointer;
}

/*****************general settings *****************/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.wrap{
  flex-wrap: wrap;
}
/*****************end general Settings *****************/